docs/n8n-workflows/n8n-marketing-chat.json
[
  {
    "id": "chatbot-v3-test-0001",
    "name": "Voraly: Marketing Chatbot",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chat-v3",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wh-v3",
        "name": "Chat Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          112
        ],
        "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "assign-msg",
                "name": "message",
                "value": "={{ $json.body?.message ?? $json.message ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "assign-history",
                "name": "history",
                "value": "={{ JSON.stringify($json.body?.history ?? $json.history ?? []) }}",
                "type": "string"
              },
              {
                "id": "assign-strategy",
                "name": "marketing_strategy",
                "value": "={{ JSON.stringify($json.body?.marketing_strategy ?? $json.marketing_strategy ?? {}) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "set-v3",
        "name": "Normalize Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          112
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Conversation: {{ $json.history }}\n\nFreelance: {{ $json.message }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Tu es le conseiller marketing exclusif de Voraly pour freelances.\nContexte strategie: {{ $json.marketing_strategy }}\n\nReponds uniquement aux questions de marketing freelance (acquisition clients, reseaux sociaux, contenu, branding). Retourne UNIQUEMENT du JSON valide selon le schema fourni — pas de markdown."
          }
        },
        "id": "agent-v3",
        "name": "Marketing Advisor Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          448,
          112
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash-lite",
          "options": {
            "temperature": 0.8
          }
        },
        "id": "gemini-v3",
        "name": "Google Gemini Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          464,
          336
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "IT0gXzjhvzu2QvqQ",
            "name": "Google Gemini(PaLM) Api account 3"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\"reply\": \"Voici mes conseils marketing personnalises...\"}"
        },
        "id": "parser-v3",
        "name": "Chat Reply Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          464,
          448
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"reply\": $json.output.reply ?? \"Je suis votre conseiller Voraly. Comment puis-je vous aider ?\" } }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-v3",
        "name": "Respond to Frontend",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          672,
          112
        ]
      }
    ],
    "connections": {
      "Chat Webhook": {
        "main": [
          [
            {
              "node": "Normalize Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Input": {
        "main": [
          [
            {
              "node": "Marketing Advisor Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marketing Advisor Agent": {
        "main": [
          [
            {
              "node": "Respond to Frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Model": {
        "ai_languageModel": [
          [
            {
              "node": "Marketing Advisor Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Chat Reply Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Marketing Advisor Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    }
  }
]